<%- include('partials/header'); -%>
<div class="content">
    <% for(let i = 0; i < blogsArray.length; i++){ %>
        <div class="blog-container">
            <h2> <%=blogsArray[i].title %></h2>
            <p><%=blogsArray[i].content.substring(0, 300) %> ... <a href="/post/<%=blogsArray[i].title %>">read more</a></p>
       </div>                              <!--  truncate string  -->
    <%} %>
    <button>
        <a href="/createBlog">Create New Blog</a>
    </button>
</div>

<script>
    const divArray = document.querySelectorAll(".content div");
    for(let i = 0; i < divArray.length; i++){
        divArray[i].addEventListener("click", (e)=>{
            console.log(e.target);
        })
    }
</script>
</body>
<%- include('partials/footer'); -%>
