<%- include("partials/header"); -%>
<div class="content">
    <div class="blog-container">
        <h2> <%=blog.title%></h2>
        <p><%=blog.content%></p>
    </div>
    
</div>

<div class="button-container">
    <a href="/post/<%=blog.title%>/edit">
        <button type="submit">Edit</button>
    </a>

    <form action="/delete" method="POST">
        <input type="hidden" name="_id" value="<%=blog._id%>">
        <button type="submit">Delete</button>
    </form>
</div>
    
</body>
<%- include('partials/footer'); -%>
